---
import "animate.css";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" type="text/css" href="styles.css" />
		<link rel="stylesheet" type="text/css" href="styles-header.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
		/>
		<title>CV David</title>
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li><a href="/">Página Principal</a></li>
					<li><a href="/sobremi">Sobre mi</a></li>
					<li><a href="/formacion">Formación</a></li>
					<li><a href="/experiencia">Experiencia profesional</a></li>
					<li><a href="/idiomas">Idiomas</a></li>
					<li><a href="/programas">Programas</a></li>
					<li><a href="/contacto">Contacto</a></li>
				</ul>
			</nav>
		</header>

		<div class="back-img">
			<div class="container">
				<h1 class="title2">Formación académica</h1>
				<div class="content">
					<div class="cuadro-iz">
						<div class="education-columns">
							<ul class="education">
								<li>
									<h3>Educación Secundaria Obligatoria</h3>
								</li>
								<li>
									<h3>Bachillerato Científico/Tecnológico</h3>
								</li>
								<li>
									<h3>
										Grado en Ingeniería Electrónica
										Industrial y Automática
									</h3>
								</li>
							</ul>
							<ul class="center-column">
								<li>
									<p>Escola Andersen</p>
								</li>
								<li>
									<p>Mare de Déu del Carme</p>
								</li>
								<li>
									<p>UPC ESEIAAT Terrassa</p>
								</li>
							</ul>
							<ul class="year-column">
								<li>
									<p>2012-2018 Terrassa, Barcelona</p>
								</li>
								<li>
									<p>2016-2018 Terrassa, Barcelona</p>
								</li>
								<li>
									<p>2018-Cursando Terrassa, Barcelona</p>
								</li>
							</ul>
						</div>
					</div>
					<div class="cuadro-der">
						<img src="-" alt="Imagen" />
					</div>
				</div>
			</div>
		</div>
	</body>
</html>